<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="madelyntav.c4q.nyc.chipchop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZ6ZNk_DPZN2A_0dpHb0MpWdGpEPLxom4" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider809448892505053"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:logo="@drawable/chipchop">
        </activity>
        <activity
            android:name=".BuyActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".SignupActivity1"
            android:label="ChipChop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SignupActivity2"
            android:label="ChipChop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SellActivity"
            android:label="ChipChop"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
